[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-celery-beat = "*"
environs = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
